* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(255, 255, 255);
}

h1 {
  text-align: center;
  font-family: monospace;
  color: rgb(62, 86, 104);
}

.container {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.content {
  display: flex;
  background-color: rgb(226, 220, 214);
  height: 100%;
  width: 50%;
  flex-wrap: wrap;
  justify-content: center;
}

@media (max-width: 600px) {
  .content {
    display: flex;
    background-color: rgb(226, 220, 214);
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
  }
}

.information {
  width: 200px;
  margin: 20px;
  display: block;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 14px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

li {
  list-style: none;
}

img {
  width: 200px;
}

.HeadPicture {
  width: 100%;
}
